body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

main {
  width: 750px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top:20px;
  margin-bottom: 20px;
}

#section-one {
  display: flex;
  gap: 40px;
}

#card-one {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}

#card-one .card-text {
  background-color: black;
  color: #fff;
  padding: 0px 20px 0px;
  border-radius: 25px;
  position: relative;
  height: 100%;
  margin-bottom: 5px;
}

#card-one .card-text::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 46px;
  margin-left: -10px;
  border-width: 12px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

#card-one .profile-card {
  margin-left: 15px;
  margin-top: 15px;
}

#card-two {
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  padding: 0px 20px 20px 20px;
  border-radius: 25px;
  width: 50%;
}

.profile-card {
  display: flex;
  align-items: center;
}

.profile-card img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.profile-card div {
  display: flex;
  margin-left: 5px;
  flex-direction: column;
  gap: 0px;
  padding: 5px;
}

.profile-card .name {
  font-size: larger;
  margin: 0px;
}

.profile-card .role {
  font-size: small;
  margin: 0px;
}

#card-three {
  display: flex;
  gap: 15px;
}

#card-three img {
  width: 33%;
  height: 100%;
  border-radius: 25px;
}

#card-three .card-content {
  background-color: black;
  color: white;
  border-radius: 25px;
  padding: 20px 20px 10px;
}

.card-content .rating-stars {
  font-size: 25px;
  color: yellow;
}

.card-content .name {
  font-size: x-large;
  margin: 0px;
}

.card-content .role {
  font-size: medium;
  color: gray;
  margin: 0px;
}

.card-content .review {
  font-size: medium;
  margin: 10px 0px 10px 0px;
}

#card-four {
  display: flex;
  flex-direction: column;
  color: black;
  border: solid 2px black;
  padding: 20px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
}

#card-four .review {
  margin: 20px 55px 10px 55px;
  text-align: center;
}

#card-four .review-selector {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

#card-four .review-selector img {
  width: 50px;
  height: 50px;
  opacity: 0.5;
  border-radius: 50%;
}

#card-four .review-selector span {
  font-size: 20px;
  color: black;
  margin: 10px;
}

#card-four .review-selector #selected {
  width: 60px;
  height: 60px;
  opacity: 1;
}

#card-four .name{
  font-size: large;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  main {
    width: 95%;
  }

  #section-one {
    flex-direction: column;
    width: 100%;
  }

  #card-one, #card-two {
    width: auto;
  }


  #card-four .review {
    margin: 10px;
  }
}