* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   
    align-items: center;
}

#submit {
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

#submit:hover {
    background-color: #f0f0f0;
}

.dropdown-div {
    position: relative;
    display: inline-block;
    margin: 50px;
    width: 200px;
    box-sizing: border-box;
}

.dropdown-button {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-sizing: border-box;

    margin-top: 5px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    align-content: space-around;
    overflow: hidden;

    visibility: hidden;
}

.dropdown-content.visible {
    visibility: visible;
}

.dropdown-option {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.dropdown-option:last-child {
    border-bottom: none;
}

.dropdown-option:hover {
    background-color: #f0f0f0;
}